body {
    background-color: #172e47;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    width: 100vw;
}

button {
    background-color: #00ace0;
    border-radius: 2px;
    padding: 1em;
    color: white;
    border: none;
    margin: 1em;
}

header {
    margin: 0;
    background-color: white;
    color: #00ace0;
    height: 100px;
    padding-left: 1em;
}

header>img {
    float: left;
    margin: 20px 40px 0 0;
    height: 60px;
}

header>a {
    float: right;
    height: 100%;
    background-color: #00ace0;
    color: white;
    height: 100px;
    line-height: 100px;
    text-decoration: none;
    padding: 0 1em;
    font-size: large;
    font-weight: bold;
}

header>a:hover {
    filter: brightness(120%);
    cursor: pointer;
}

header>a:active {
    filter: brightness(90%);
}

header>h1 {
    margin: 0;
    display: inline-block;
    height: 100px;
    line-height: 100px;
}

button:hover {
    filter: brightness(120%);
    cursor: pointer;
}

button:active {
    filter: brightness(90%);
}

#big-chart {
    margin: 2em auto;
    max-width: 700;
}

.chart {
    max-width: 640px;
    background-color: white;
    padding: 1em;
    border-radius: 2px;
    margin: 1em;
    display: inline-block;
}

.widget {
    border-radius: 2px;
    background-color: white;
    color: #172e47;
    font-size: large;
    font-weight: bold;
    padding: 1em;
    width: 180px;
    height: 180px;
    box-sizing: border-box;
    margin: 1em;
    display: inline-block;
}

#controls {
    width: 300px;
    display: inline-block;
}

.flexbox {
    display: flex;
}